---
WarningsAsErrors: "*"

HeaderFilterRegex: '.*\/(src|include)\/.*'

CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
  - key: modernize-use-default-member-init.UseAssignment
    value: true