---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-*,
  readability-*,
  bugprone-*,
  performance-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers

WarningsAsErrors: "*"

HeaderFilterRegex: '.*\/(src|include)\/.*'

CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
  - key: modernize-use-default-member-init.UseAssignment
    value: true